---
import { Bookmark, BookmarkCheck } from 'lucide-astro'

const { userId, paragraphId } = Astro.props
---

<astro-bookmark
  class='bookmarkContainer'
  data-user-id={userId}
  data-paragraph-id={paragraphId}
>
  <button class='setBookmarkButton' id=`inactiveBookmark${paragraphId}`
    ><Bookmark size={30} class='inactiveBookmark' /></button
  >
  <div class='hidden activeBookmark' id=`activeBookmark${paragraphId}`>
    <BookmarkCheck size={30} />
  </div>
  <p></p>
</astro-bookmark>

<style>
  .bookmarkContainer {
    display: flex;
    align-items: center;
  }

  button,
  div {
    padding: 0.5rem;
  }

  .activeBookmark {
    background: var(--secondary-color);
    transition: all 0.5s ease-in;
    border-radius: 0.25rem;
  }

  @media screen and (min-width: 768px) {
    button:hover .inactiveBookmark {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
    }
  }
</style>

<script>
  import { actions } from 'astro:actions'
  import { selectedBookmark } from '@utils/store.js'

  class AstroBookmark extends HTMLElement {
    constructor() {
      super()

      const bookmarkButton = this.querySelector('button')

      bookmarkButton.addEventListener('click', async () => {
        const { data, error } = await actions.makeBookmark({
          userId: parseInt(this.dataset.userId),
          paragraphId: parseInt(this.dataset.paragraphId),
        })

        if (error) {
          console.error('Error creating bookmark: ', error)
          const errorContainer = this.querySelector('p')
          errorContainer.textContent = error.message

          setTimeout(() => {
            errorContainer.textContent = ''
          }, 2000)
        }

        if (data) {
          /* add option to make every paragraph a boookmark back */
          const bookmarkButtons =
            document.querySelectorAll('.setBookmarkButton')
          bookmarkButtons.forEach((button) => button.classList.remove('hidden'))

          /* hide all checkmarked bookmark icons */
          const activeBookmarks = document.querySelectorAll('.activeBookmark')
          activeBookmarks.forEach((icon) => icon.classList.add('hidden'))

          /* user selected a new bookmark - we change it to a checkmark */
          const activeBookmark = this.querySelector('.activeBookmark')
          activeBookmark.classList.remove('hidden')

          /* hide option to bookmark this paragraph - it is already bookmarked */
          bookmarkButton.classList.add('hidden')

          selectedBookmark.set(data)
        }
      })
    }
  }

  customElements.define('astro-bookmark', AstroBookmark)
</script>
