.footnoteSpan > button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
}

.inactiveFootnoteButton {
  background: var(--primary-color);
}

.activeFootnoteButton {
  background: var(--secondary-color);
}

.footnotesAside {
  display: inline-flex;
  background: var(--primary-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@media screen and (min-width: 768px) {
  .inactiveFootnoteButton:hover,
  .activeFootnoteButton:hover {
    background: var(--ternary-color);
    transition: all 0.5s ease-in;
  }
}
