.bookmarkContainer {
  position: relative;
}

.bookmarkContainer button {
  padding: 0.625rem;
}

.bookmarkContainer > div {
  padding: 0.625rem;
}

.bookmarkInfo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 0.25rem;
}

.bookmarkLine {
  text-wrap: nowrap;
}

.bookmarkSvg,
.spinner {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .bookmarkContainer button:hover {
    color: var(--primary-color);
    transition: all 0.5s ease-in;
  }

  .bookmarkSvg,
  .spinner {
    width: 40px;
    height: 40px;
  }
}
