.searchResultsContainer {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--background-color);
  padding: 1rem;
  overflow-y: hide;
  height: 100vh;
  height: 100svh;
}

.searchResultsList {
  overflow-y: scroll;
  max-height: calc(100% - 3.5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchResultsNumber {
  font-weight: 700;
}

.searchResultsItem button {
  padding: 1rem;
  text-align: left;
}

.searchResultsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.searchResultsList p {
  margin-top: 0.5rem;
}

.searchResultsItem {
  border-radius: 0.25rem;
}

.searchResultsItem:nth-of-type(odd) {
  background: var(--primary-color);
}

.searchResultsItem:nth-of-type(even) {
  background-color: var(--secondary-color);
}

.searchResultsMark {
  background: var(--mark-color);
}

.spinner {
  margin-bottom: 1rem;
}

.searchResultsContainer {
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .closeSearchResultsButton:hover {
    color: var(--primary-color);
    transition: all 0.5s ease-in;
  }

  .searchResultsItem:hover {
    opacity: 0.8;
    transition: all 0.5s ease-in;
  }

  .searchResultsContainer {
    width: 25%;
    margin-top: 0.75rem;
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--slider-height) - 1.5rem);
    border-radius: 0.25rem;
    border: 3px solid var(--primary-color);
    border-right: none;
  }
}
