.optionsItem > button {
  width: 100%;
  padding: 0.5rem;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .optionsItem:hover {
    border-radius: 0.25rem;
    background: var(--secondary-color);
    transition: all 0.5s ease-in;
  }

  .optionsItem > button {
    cursor: pointer;
  }
}
