---
export const prerender = false

import BaseLayout from '@layouts/BaseLayout.astro'
import BookInfo from '@components/book/BookInfo.astro'
import ChapterList from '@components/book/ChapterList.astro'
import Chapters from '@components/book/Chapters.astro'
import Slider from '@components/book/Slider.astro'

const { title, translator } = Astro.params
---

<BaseLayout {title} {translator}>
  <main id='fullText' class='no-scrollbar hidden'>
    <BookInfo />
    <ChapterList />
    <Chapters />
  </main>
  <Slider />
</BaseLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
</style>

<script>
  import {
    selectedFont,
    selectedFontSize,
    selectedLineHeight,
    selectedMarginSize,
  } from '@utils/store.js'

  document.addEventListener('astro:page-load', () => {
    const fullText = document.querySelector('#fullText') as HTMLElement
    fullText?.classList.remove('hidden')

    if (fullText) {
      selectedFont.subscribe((font) => {
        fullText.style.fontFamily = font + ' Variable'
      })

      selectedFontSize.subscribe((size) => {
        fullText.style.fontSize = size.size
      })

      selectedLineHeight.subscribe((height) => {
        fullText.style.lineHeight = height.height
      })

      selectedMarginSize.subscribe((size) => {
        fullText.style.margin = size.size
      })
    }
  })
</script>
