---
import { ALargeSmall } from 'lucide-astro'
import SettingsLayout from '@layouts/SettingsLayout.astro'
import '@styles/settings.css'

const fontSizes = [
  { name: 'small', size: '0.875rem' },
  { name: 'normal', size: '1rem' },
  { name: 'large', size: '1.25rem' },
  { name: 'x-large', size: '1.5rem' },
]
---

<SettingsLayout title='Font Size'>
  {
    fontSizes.map((fontSize) => (
      <li class='optionsItem'>
        <button class='fontSizeButtons' style={{ 'font-size': fontSize.size }}>
          {fontSize.name}
        </button>
      </li>
    ))
  }
  <ALargeSmall slot='settings-icon' />
</SettingsLayout>

<script>
  import { selectedFontSize } from '@utils/store.js'

  const fontSizes = [
    { name: 'small', size: '0.875rem' },
    { name: 'normal', size: '1rem' },
    { name: 'large', size: '1.125rem' },
    { name: 'x-large', size: '1.25rem' },
  ]

  document.addEventListener('astro:page-load', () => {
    const fontSizeList = document.getElementById('fontSizeList')

    const fontSizeButtons = document.querySelectorAll('.fontSizeButtons')
    fontSizeButtons.forEach((button, index) =>
      button.addEventListener('click', () => {
        selectedFontSize.set(fontSizes[index])
        fontSizeList.classList.toggle('hidden')
      }),
    )

    selectedFontSize.subscribe((size) => {
      const selectedFontSizeDisplay = document.getElementById(
        'fontSizeSelectionDisplay',
      )

      selectedFontSizeDisplay.textContent = size.name
    })
  })
</script>
