---
import { Type } from 'lucide-astro'
import SettingsLayout from '@layouts/SettingsLayout.astro'
import '@styles/settings.css'

const fonts = ['Alegreya', 'Inter', , 'Lexend', 'Literata', 'Playpen Sans']
---

<SettingsLayout title='Font' icon='Type'>
  {
    fonts.map((font) => (
      <li class='optionsItem'>
        <button
          class='fontListButtons'
          style={{ 'font-family': font + ' Variable' }}
        >
          {font}
        </button>
      </li>
    ))
  }
  <Type slot='settings-icon' />
</SettingsLayout>

<script>
  import { selectedFont } from '@utils/store.js'

  document.addEventListener('astro:page-load', () => {
    const fontList = document.getElementById('fontList')

    const fontButtons = document.querySelectorAll('.fontListButtons')
    fontButtons.forEach((button) =>
      button.addEventListener('click', () => {
        selectedFont.set(button.textContent)
        fontList.classList.toggle('hidden')
      }),
    )

    selectedFont.subscribe((font) => {
      const selectedFontDisplay = document.getElementById(
        'fontSelectionDisplay',
      )

      selectedFontDisplay.textContent = font
      selectedFontDisplay.style.fontFamily = font + ' Variable'
    })
  })
</script>
