---
import { BetweenHorizonalEnd } from 'lucide-astro'
import SettingsLayout from '@layouts/SettingsLayout.astro'
import '@styles/settings.css'

const lineHeights = [
  { name: 'Tight', height: '1.25rem' },
  { name: 'Snug', height: '1.375rem' },
  { name: 'Normal', height: '1.5rem' },
  { name: 'Relaxed', height: '1.625rem' },
  { name: 'Loose', height: '2rem' },
]
---

<SettingsLayout title='Line Height'>
  {
    lineHeights.map((lineHeight) => (
      <li class='optionsItem'>
        <button class='lineHeightButtons'>{lineHeight.name}</button>
      </li>
    ))
  }
  <BetweenHorizonalEnd slot='settings-icon' />
</SettingsLayout>

<script>
  import { selectedLineHeight } from '@utils/store.js'

  const lineHeights = [
    { name: 'Tight', height: '1' },
    { name: 'Snug', height: '1.25' },
    { name: 'Normal', height: '1.5' },
    { name: 'Relaxed', height: '2' },
    { name: 'Loose', height: '2.5' },
  ]

  document.addEventListener('astro:page-load', () => {
    const lineHeightList = document.getElementById('lineHeightList')

    const lineHeightButtons = document.querySelectorAll('.lineHeightButtons')
    lineHeightButtons.forEach((button, index) =>
      button.addEventListener('click', () => {
        selectedLineHeight.set(lineHeights[index])
        lineHeightList.classList.toggle('hidden')
      }),
    )

    selectedLineHeight.subscribe((lineHeight) => {
      const selectedLineHeightDisplay = document.getElementById(
        'lineHeightSelectionDisplay',
      )

      selectedLineHeightDisplay.textContent = lineHeight.name
    })
  })
</script>
