---
import { Ruler } from 'lucide-astro'
import SettingsLayout from '@layouts/SettingsLayout.astro'
import '@styles/settings.css'

const marginSizes = [
  { name: 'Small', size: '1rem' },
  { name: 'Medium', size: '3rem' },
  { name: 'Large', size: '5rem' },
  { name: 'Extra Large', size: '7rem' },
]
---

<SettingsLayout title='Margin Size'>
  {
    marginSizes.map((marginSize) => (
      <li class='optionsItem'>
        <button class='marginSizeButtons'>{marginSize.name}</button>
      </li>
    ))
  }
  <Ruler slot='settings-icon' />
</SettingsLayout>

<script>
  import { selectedMarginSize } from '@utils/store.js'

  const marginSizes = [
    { name: 'Small', size: '1rem' },
    { name: 'Medium', size: '3rem' },
    { name: 'Large', size: '5rem' },
    { name: 'Extra Large', size: '7rem' },
  ]

  document.addEventListener('astro:page-load', () => {
    const marginSizeList = document.getElementById('marginSizeList')

    const marginSizeButtons = document.querySelectorAll('.marginSizeButtons')
    marginSizeButtons.forEach((button, index) =>
      button.addEventListener('click', () => {
        selectedMarginSize.set(marginSizes[index])
        marginSizeList.classList.toggle('hidden')
      }),
    )

    selectedMarginSize.subscribe((marginSize) => {
      const selectedMarginSizeDisplay = document.getElementById(
        'marginSizeSelectionDisplay',
      )

      selectedMarginSizeDisplay.textContent = marginSize.name
    })
  })
</script>
