---
import BaseLayout from '@layouts/BaseLayout.astro'
import Footer from '@components/Footer.astro'
---

<BaseLayout>
  <div>
    <figure>
      <blockquote>Not all who wonder are lost</blockquote>
      <figcaption>
        —J.R.R. Tolkein, <cite>The Fellowship of the Ring</cite>
      </figcaption>
    </figure>
    <p>...but maybe rethink your goal</p>
  </div>
  <Footer />
</BaseLayout>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
    height: 100%;
  }

  figure {
    font-size: 1.5rem;
  }

  figcaption {
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    figure {
      font-size: 4.5rem;
      margin: 3rem;
    }
  }
</style>
