---
export const prerender = false

import { getUser } from '@utils/auth.js'
import BaseLayout from '@layouts/BaseLayout.astro'
import UserNotes from '@components/notes/UserNotes.astro'
import AuthForm from '@components/auth/AuthForm.astro'
import Footer from '@components/Footer.astro'

let user
let userError

try {
  user = await getUser(Astro.cookies)
} catch (error) {
  console.error('Failed to get user for account page: ', error)
  userError = error.message
}
---

<BaseLayout>
  {userError && <p>{userError}</p>}
  {user && <UserNotes userId={user.id} userName={user.username} />}
  {!user && !userError && <AuthForm />}
  <Footer />
</BaseLayout>
