---
export const prerender = false

import { getQuote } from '@server/book'
import BaseLayout from '@layouts/BaseLayout.astro'
import Footer from '@components/Footer.astro'

let quote
let quoteError

try {
  quote = await getQuote()
} catch (error) {
  console.error('Error getting quote: ', error)
  quoteError = error
}
---

<BaseLayout>
  <figure>
    <blockquote>
      {quote?.quoteText || quoteError}
    </blockquote>
    <figcaption>-N.</figcaption>
  </figure>
  <Footer />
</BaseLayout>

<style>
  figure {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    overflow-y: scroll;
  }

  blockquote {
    padding-bottom: 2.5rem;
    text-align: center;
    font-style: italic;
  }

  figcaption {
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    figure {
      height: 100%;
      justify-content: center;
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin: 3rem;
    }
  }
</style>
