---
import { Library, ChevronUp, ChevronDown } from 'lucide-astro'
import TranslatorList from '@components/book-selection/TranslatorList.astro'

const { titles, titlesError } = Astro.props
---

<div id='navLibraryContainer'>
  <button class='chevronContainer'>
    <Library class='libraryIcon' />
    <ChevronDown size={20} class='chevronDown' />
    <ChevronUp size={20} class='hidden chevronUp' />
  </button>
  <ul class='hidden titleMenuList'>
    {
      titlesError ? (
        <li>{titlesError}</li>
      ) : (
        titles.map((title) => (
          <li>
            <button class='chevronContainer'>
              {title}
              <ChevronDown size={20} class='chevronDown' />
              <ChevronUp size={20} class='hidden chevronUp' />
            </button>
            <ul class='hidden translatorMenuList'>
              <TranslatorList {title} />
            </ul>
          </li>
        ))
      )
    }
  </ul>
</div>

<style>
  #navLibraryContainer > button {
    padding: 0.625rem;
  }

  .titleMenuList {
    width: calc(100% - 2rem);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--background-color);
    border-radius: 0.25rem;
    height: 100vh;
    height: 100svh;
    padding: 0.5rem;
    z-index: 20;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .translatorMenuList {
    margin-top: 0.5rem;
  }

  #navLibraryContainer > ul button {
    padding: 0.5rem;
    border: 3px solid var(--primary-color);
    border-radius: 0.25rem;
  }

  .chevronContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .chevronUp,
  .chevronDown {
    color: var(--text-color) !important;
  }

  .libraryIcon {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-width: 768px) {
    .libraryIcon {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (min-width: 1024px) {
    #navLibraryContainer {
      position: relative;
    }

    .titleMenuList {
      top: 100%;
      left: 50%;
      width: max-content;
      height: fit-content;
    }

    #navLibraryContainer > ul button:hover {
      background: var(--secondary-color);
      border-radius: 0.25rem;
      transition: all 0.5s ease-in;
    }

    #navLibraryContainer > button:hover {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
    }

    #navLibraryContainer > ul button svg {
      margin-left: 1rem;
    }
  }
</style>

<script>
  import {
    animateAndRemoveElement,
    animateAndShowElement,
    hideAfterFadeOut,
  } from '@utils/animation.js'

  document.addEventListener('astro:page-load', () => {
    const libraryContainer = document.getElementById('navLibraryContainer')
    const libraryIcon = libraryContainer.querySelector('.chevronContainer')
    const libraryChevronUp = libraryContainer.querySelector('.chevronUp')
    const libraryChevronDown = libraryContainer.querySelector('.chevronDown')
    const libraryTitleList = libraryContainer.querySelector('ul')
    const titleChevronUps = libraryTitleList.querySelectorAll('.chevronUp')
    const titleChevronDowns = libraryTitleList.querySelectorAll('.chevronDown')
    const titleItems = libraryTitleList.querySelectorAll('button')
    const translatorList = libraryTitleList.querySelectorAll('ul')

    /* open and close menu */
    libraryIcon.addEventListener('click', () => {
      libraryChevronUp.classList.toggle('hidden')
      libraryChevronDown.classList.toggle('hidden')

      if (libraryTitleList.classList.contains('animate__fadeIn')) {
        animateAndRemoveElement(libraryTitleList)
        hideAfterFadeOut(libraryTitleList)
      } else {
        animateAndShowElement(libraryTitleList)
      }
    })

    /* open and close translator list */
    titleItems.forEach(
      (navTitle, index) =>
        navTitle.addEventListener('click', () => {
          titleChevronUps[index].classList.toggle('hidden')
          titleChevronDowns[index].classList.toggle('hidden')

          if (translatorList[index].classList.contains('animate__fadeIn')) {
            animateAndRemoveElement(translatorList[index])
          } else {
            translatorList[index].style.setProperty(
              '--animate-duration',
              '0.5s',
            )
            animateAndShowElement(translatorList[index])
          }
        }),

      translatorList.forEach((translator) => {
        hideAfterFadeOut(translator)
      }),
    )

    //close library and reset it when clicking anywhere outside the drop down

    document.addEventListener('click', (e) => {
      if (!libraryContainer.contains(e.target)) {
        libraryChevronUp.classList.add('hidden')
        libraryChevronDown.classList.remove('hidden')
        animateAndRemoveElement(libraryTitleList)

        titleChevronDowns.forEach((chevron) =>
          chevron.classList.remove('hidden'),
        )
        titleChevronUps.forEach((chevron) => chevron.classList.add('hidden'))
        translatorList.forEach((translator) => {
          animateAndRemoveElement(translator)
        })
      }
    })
  })
</script>
