---
import { getTranslations } from '@server/book'

const { title } = Astro.props

let translators
let translatorsError

try {
  translators = await getTranslations(title)
} catch(error) {
  console.error('Error getting translators: ', error)
  translatorsError = error
}
---

{
translatorsError ? <li class='errorItem'>{translatorsError}</li> :
  translators.map((translator) => (
    <li>
      <a href=`/book/${title}/${translator}`>{translator}</a>
    </li>
  ))
}

<style>
  li {
    margin-left: 1rem;
    margin-right: 1rem;
    background: var(--primary-color); 
    border-radius: 0.25rem;
  }

  a {
    display: block;
    padding: 0.5rem;
  }

  .errorItem {
    padding: 0.5rem;
  }


  @media screen and (min-width: 768px) {
    a:hover {
      background: var(--ternary-color);
      transition: all 0.5s ease-in;
      border-radius: 0.25rem;
    }
  }
</style>
