---
import { Gitlab, Copyleft } from 'lucide-astro'
---

<footer>
  <ul>
    <li>
      <a
        href='https://gitlab.com/Grahf0085/sharper-than-time-astro'
        target='_blank'
      >
        Front <Gitlab size={24} />
      </a>
    </li>
    <li>
      <a href='https://gitlab.com/Grahf0085/make-nietzsche-db' target='_blank'>
        Back(san judges) <Gitlab size={24} />
      </a>
    </li>
  </ul>
  <a href='mailto:sharperthantime@tutanota.com'>
    sharperthantime@tutanota.com
  </a>
  <p>
    Copyleft <Copyleft size={24} /> 2024 Sharper Than Time
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    height: fit-content;
    gap: 0.5rem;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  a {
    display: flex;
  }

  p {
    display: flex;
  }

  @media screen and (max-width: 768px) {
    footer {
      padding-bottom: 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    footer {
      height: var(--slider-height);
      flex-direction: row;
      justify-content: space-evenly;
      border-top: 3px solid var(--primary-color);
      flex-shrink: 0;
    }

    ul {
      display: contents;
    }

    a:hover {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
    }
  }
</style>
