---
import { Image } from 'astro:assets'
import { UserRound } from 'lucide-astro'
import face from '@images/face.png'
import LibraryMenu from '@components/book-selection/LibraryMenu.astro'
import MultiBookSearch from '@components/search/MultiBookSearch.astro'
import SettingsComponent from '@components/settings/SettingsComponent.astro'
import { GotoBookmark } from '@components/bookmark/GotoBookmark.jsx'
import Logout from '@components/auth/Logout.astro'
import { getAllTitles } from '@server/book'
import { getBookmark } from '@server/user'
import { getUserId } from '@utils/auth'

const { title, translator } = Astro.params

const userId = await getUserId(Astro.cookies)

let titles = []
let titlesError

try {
  titles = await getAllTitles()
} catch (error) {
  console.error('Error getting titles: ', error)
  titlesError = error.message
}

let currentBookmark
let bookmarkError

try {
  currentBookmark = await getBookmark(userId)
} catch (error) {
  console.error('Error getting current bookmark: ', error)
  bookmarkError = error.message
}
---

<header>
  <div>
    <SettingsComponent />
    {userId && <Logout />}
  </div>

  <nav>
    {
      userId && (
        <GotoBookmark
          client:load
          currentTitle={title}
          currentTranslator={translator}
          {currentBookmark}
          {bookmarkError}
        />
      )
    }
    <LibraryMenu {titles} {titlesError} />
    <a href='/account'><UserRound /></a>
    <a href='/'><Image src={face} class='face' alt="Nietzsche's Face" /></a>
  </nav>
  <MultiBookSearch {titles} {titlesError} />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
  }

  nav {
    display: contents;
  }

  a {
    padding: 0.625rem;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  img {
    border-radius: 9999px;
  }

  div {
    display: contents;
  }

  .face {
    height: 30px;
    width: 30px;
  }

  @media screen and (max-width: 1024px) {
    header {
      padding-top: 0.375rem;
    }
  }

  @media screen and (min-width: 768px) {
    svg,
    .face {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (min-width: 1024px) {
    header {
      min-height: var(--header-height);
      border-bottom: 3px solid var(--primary-color);
    }

    nav {
      display: flex;
      gap: 2rem;
      order: 1;
    }

    a:hover,
    button:hover {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
    }

    div {
      display: flex;
      gap: 2rem;
    }
  }
</style>

<script>
  import { searchResults, searchTerm } from '@utils/store'
  document.addEventListener('astro:page-load', () => {
    searchResults.set([])
    searchTerm.set('')
  })
</script>
