---
import { Pencil, ScrollText } from 'lucide-astro'
import { getUser } from '@utils/auth.js'

const { paragraphId } = Astro.props

let user
let userError

try {
  user = await getUser(Astro.cookies)
} catch (error) {
  console.error('Failed to get user for account page: ', error)
  userError = `Cannot make notes: ${error.message}`
}
---

<astro-notes class='notesContainer' data-error={userError}>
  {
    user && (
      <>
        <button class='showNotesFormButton'>
          <ScrollText size={30} />
        </button>
        <form class='hidden'>
          <input name='userId' type='hidden' value={user.id} required />
          <input
            name='paragraphId'
            type='hidden'
            value={paragraphId}
            required
          />
          <label>
            {user.username}'s Thoughts
            <textarea name='notes' />
          </label>
          <button type='submit'>
            <Pencil size={30} />
            Save
          </button>
        </form>
      </>
    )
  }
  <p class='hidden'></p>
</astro-notes>

<style>
  .notesContainer {
    display: contents;
  }

  form {
    display: flex;
    flex-direction: column;
    order: 100;
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  textarea {
    background: transparent;
    border: 3px solid var(--secondary-color);
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  button {
    padding: 0.5rem;
  }

  button[type='submit'] {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  button:hover {
    color: var(--primary-color);
    transition: all 0.5s ease-in;
  }

  .active {
    background: var(--secondary-color);
    transition: all 0.5s ease-in;
    border-radius: 0.25rem;
  }
</style>

<script>
  import { actions } from 'astro:actions'
  import {
    animateAndRemoveElement,
    animateAndShowElement,
    hideAfterFadeOut,
  } from '@utils/animation.js'
  import { z } from 'zod'
  import { notesSchema } from '@actions/schemas.js'

  class AstroNotes extends HTMLElement {
    constructor() {
      super()

      const serverError = this.dataset.error

      if (serverError) {
        const feedbackContainer = this.querySelector('p')
        feedbackContainer.classList.remove('hidden')

        feedbackContainer.textContent = serverError
        return
      }

      const makeNotesButton = this.querySelector('.showNotesFormButton')
      const makeNotesForm = this.querySelector('form')

      makeNotesForm?.style.setProperty('--animate-duration', '0.5s')

      makeNotesButton?.addEventListener('click', async () => {
        makeNotesButton.classList.toggle('active')

        if (makeNotesForm.classList.contains('animate__fadeIn')) {
          animateAndRemoveElement(makeNotesForm)
        } else {
          animateAndShowElement(makeNotesForm)

          if (window.matchMedia('(max-width: 768px)').matches) {
            makeNotesForm.scrollIntoView({ behavior: 'smooth' })
          }
        }

        const notesTextArea = this.querySelector('textarea[name="notes"]')

        const formData = new FormData(makeNotesForm)

        const formValues = {
          userId: parseInt(formData.get('userId') as string),
          paragraphId: parseInt(formData.get('paragraphId') as string),
        }

        const userId = formValues.userId
        const paragraphId = formValues.paragraphId

        const { data, error } = await actions.fetchNotes({
          userId,
          paragraphId,
        })

        if (error) {
          console.error('Error fetching notes: ', error)
          notesTextArea.textContent = error
        }

        if (data) {
          notesTextArea.textContent = data.notes
        }
      })

      makeNotesButton && hideAfterFadeOut(makeNotesForm)

      makeNotesForm?.addEventListener('submit', async (event) => {
        event.preventDefault()

        const formData = new FormData(makeNotesForm)

        const formValues = {
          userId: parseInt(formData.get('userId') as string),
          paragraphId: parseInt(formData.get('paragraphId') as string),
          notes: formData.get('notes'),
        }

        const feedbackContainer = this.querySelector('p')
        feedbackContainer.classList.remove('hidden')

        try {
          notesSchema.parse(formValues)
          await actions.makeNotes.orThrow(formData)
          feedbackContainer.textContent = 'Notes Saved!'

          setTimeout(() => {
            feedbackContainer.textContent = ''
            feedbackContainer.classList.add('hidden')
          }, 3000)
        } catch (error) {
          if (error instanceof z.ZodError) {
            feedbackContainer.textContent = error.errors[0].message
          } else {
            console.error('Error creating notes: ', error)
            feedbackContainer.textContent = error.message
          }
        }
      })
    }
  }

  customElements.define('astro-notes', AstroNotes)
</script>
