---
import { PencilLine } from 'lucide-astro'
import { getAllNotesForReader } from '@server/user.js'

const { userId, userName } = Astro.props

let allNotes
let allNotesError

try {
  allNotes = await getAllNotesForReader(userId)
} catch (error) {
  console.error('Failed to get all notes: ', error)
  allNotesError = error.message
}
---

{
  allNotesError ? (
    <p>{allNotesError}</p>
  ) : allNotes.length === 0 ? (
    <div class='noNotesContainer'>
      <PencilLine class='pencilLine' />
      <p>Make some notes in the books and then you can view them all here :)</p>
    </div>
  ) : (
    <>
      <div class='desktopNotesContainer'>
        <table>
          <caption>{userName}'s Notes</caption>
          <thead>
            <tr>
              <th> Book </th>
              <th> Chapter </th>
              <th> Paragraph </th>
              <th> Notes </th>
              <th> Last Edited </th>
            </tr>
          </thead>
          <tbody>
            {allNotes.map((note) => {
              const lastEditedDate = new Date(note.lastEdited)
              return (
                <tr>
                  <td>
                    {note.bookTitle} ({note.translatorName})
                  </td>
                  <td>{note.chapterName}</td>
                  <td>{note.paragraphNumber}</td>
                  <td class='tableNotes'>{note.notes}</td>
                  <td>
                    <time datetime={lastEditedDate.toDateString()}>
                      {lastEditedDate.toDateString()}
                    </time>
                  </td>
                </tr>
              )
            })}
          </tbody>
        </table>
      </div>
      <div class='mobileNotesContainer'>
        {allNotes.map((note) => {
          const lastEditedDate = new Date(note.lastEdited)
          return (
            <div class='mobileContainer'>
              <div class='mobileLocationContainer'>
                <cite>{note.bookTitle}</cite>({note.translatorName}),
                {note.chapterName}, Paragraph {note.paragraphNumber}
              </div>
              <div class='mobileNotes'>{note.notes}</div>
              <div class='mobileDate'>{lastEditedDate.toDateString()}</div>
            </div>
          )
        })}
      </div>
    </>
  )
}

<style>
  .desktopNotesContainer {
    display: none;
  }

  .mobileNotesContainer {
    display: none;
  }

  svg {
    width: 50%;
    height: 50%;
    color: var(--secondary-color);
    stroke-width: 0.5px;
  }

  p {
    font-size: 1.25rem;
  }

  .noNotesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (min-width: 1024px) {
    .desktopNotesContainer {
      display: flex;
      justify-content: center;
      margin: 3rem;
      overflow-y: scroll;
    }

    table {
      table-layout: auto;
      width: 100%;
    }

    caption {
      font-size: 1.25rem;
      font-weight: 900;
    }

    th {
      text-align: left;
      font-weight: 700;
      padding: 1rem 2rem 1rem 2rem;
      background: var(--background-color);
    }

    tr:nth-child(odd) {
      background: var(--primary-color);
    }

    td {
      text-align: left;
      padding: 1rem 2rem 1rem 2rem;
    }

    .tableNotes {
      max-width: 30rem;
      overflow-wrap: break-word;
    }
  }

  @media screen and (max-width: 1024px) {
    p {
      margin: 0rem 1rem 0rem 1rem;
      text-align: center;
    }

    .mobileNotesContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-y: scroll;
      margin: 1rem;
    }

    .mobileContainer {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: var(--primary-color);
      border-radius: 0.25rem;
    }

    .mobileLocationContainer {
      padding-bottom: 1rem;
      text-align: center;
      border-bottom: 3px solid var(--secondary-color);
    }

    .mobileDate {
      text-align: center;
      border-top: 3px solid var(--secondary-color);
      padding-top: 1rem;
    }

    .mobileNotes {
      overflow-wrap: break-word;
    }
  }
</style>
