---
import { TextSearch } from 'lucide-astro'
import { SearchResults } from '@components/search/SearchResults.jsx'

const { titles, titlesError } = Astro.props

const { title, translator } = Astro.params
---

<div id='navSearchContainer'>
  <form id='multipleBookSearchForm'>
    <label>
      <input
        name='term'
        placeholder='Search Selected Books'
        type='search'
        autocomplete='off'
      />
      <span class='hidden'>Search Term</span>
    </label>
    <button type='submit' disabled={titlesError}
      ><TextSearch size={40} /></button
    >
    <fieldset class='hidden'>
      <legend>select books to search</legend>
      {
        titlesError ? (
          <p>{titlesError}</p>
        ) : (
          titles.map((title) => (
            <label>
              {title}
              <input
                type='checkbox'
                name='selectedBooks'
                value={title}
                checked
              />
            </label>
          ))
        )
      }
    </fieldset>
    <p class='errorContainer hidden'></p>
  </form>
</div>

<SearchResults client:only='solid-js' {title} {translator} />

<style>
  div {
    width: 100%;
    z-index: 10;
  }

  form {
    position: relative;
  }

  button {
    position: absolute;
    top: 0;
    right: 0.5rem;
  }

  input[type='search'] {
    background: transparent;
    border: 3px solid var(--secondary-color);
    border-radius: 0.25rem;
    /* 3.5rem to stop text from crashing into svg */
    padding: 0 3.5rem 0 1rem;
    width: 100%;
    height: 2.5rem;
  }

  input[type='search']::placeholder {
    font-style: italic;
    opacity: 0.5;
  }

  .errorContainer {
    background: var(--primary-color);
    border-radius: 0.25rem;
    padding: 0.5rem;
    position: absolute;
    /* 3px for border width, .5rem for padding, .25rem for spacing */
    top: calc(-100% - 0.75rem - 3px);
    left: 50%;
    width: max-content;
    max-width: 100%;
    border: 3px solid var(--secondary-color);
  }

  fieldset {
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
    background: var(--background-color);
    padding: 0.5rem;
  }

  legend {
    display: none;
  }

  fieldset label {
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-align: center;
    transition: all 0.5s ease-in;
  }

  label:has(input[type='checkbox']:checked) {
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
  }

  label:has(input[type='checkbox']:not(:checked)) {
    border: 3px solid var(--primary-color);
  }

  input[type='checkbox'] {
    appearance: none;
  }

  svg {
    height: 30px;
    width: 30px;
  }

  @media screen and (max-width: 768px) {
    p {
      transform: translateX(-50%);
    }

    button {
      top: 0.375rem;
    }
  }

  @media screen and (max-width: 1024px) {
    form {
      margin-top: 0.375rem;
    }
  }

  @media screen and (min-width: 1024px) {
    div {
      width: 33%;
    }

    .errorContainer {
      top: 0;
      left: 100%;
      margin-left: 0.25rem;
    }

    fieldset label {
      cursor: pointer;
    }

    label:hover {
      transition: all 0.5s ease-in;
      opacity: 0.7;
    }

    svg:hover {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
    }
  }

  @media screen and (min-width: 768px) {
    svg {
      height: 40px;
      width: 40px;
    }
  }
</style>

<script>
  import { actions } from 'astro:actions'
  import { z } from 'zod'
  import { searchResults, searchTerm } from '@utils/store'
  import { multipleBookSearchSchema } from '@actions/schemas'
  import {
    animateAndShowElement,
    animateAndRemoveElement,
    hideAfterFadeOut,
  } from '@utils/animation'

  document.addEventListener('astro:page-load', () => {
    const searchContainer = document.getElementById('navSearchContainer')
    const searchInput = searchContainer.querySelector('input[type="search"]')
    const searchTitleList = searchContainer.querySelector('fieldset')

    /* open  menu */
    searchInput.addEventListener('focus', () => {
      animateAndShowElement(searchTitleList)
    })

    /* close menu */
    document.addEventListener('click', (event) => {
      if (!searchContainer.contains(event.target)) {
        animateAndRemoveElement(searchTitleList)
      }
    })

    //close error container and reset it when clicking anywhere outside it
    document.addEventListener('click', (event) => {
      if (!errorContainer.contains(event.target)) {
        errorContainer.textContent = ''
        errorContainer.classList.add('hidden')
      }
    })

    hideAfterFadeOut(searchTitleList)

    const form = document.getElementById(
      'multipleBookSearchForm',
    ) as HTMLFormElement
    const errorContainer = form.querySelector('.errorContainer')

    form.addEventListener('submit', async (event) => {
      event.preventDefault()

      const formData = new FormData(form)

      const formValues = {
        term: formData.get('term'),
        selectedBooks: Array.from(
          form.querySelectorAll('input[type="checkbox"]:checked'),
        ).map((checkbox) => (checkbox as HTMLInputElement).value),
      }

      try {
        multipleBookSearchSchema.parse(formValues)

        const data = await actions.multiBookSearch.orThrow(formData)

        if (data.length === 0) {
          errorContainer.classList.remove('hidden')
          errorContainer.textContent = "I don't know if N said that here."
        } else {
          searchResults.set(data)
          searchTerm.set(formData.get('term').toString())
        }
      } catch (error) {
        if (error instanceof z.ZodError) {
          errorContainer.textContent = error.errors[0].message
          errorContainer.classList.remove('hidden')
        } else {
          console.error('Error using multiple book search: ', error)
          errorContainer.classList.remove('hidden')
          errorContainer.textContent = error
        }
      }
    })
  })
</script>
