---
import { TextSearch } from 'lucide-astro'

const { title, translator } = Astro.params
---

<form id='singleBookSearchForm'>
  <input name='title' type='hidden' value={title} required />
  <input name='translator' type='hidden' value={translator} required />
  <label>
    <input name='term' placeholder='Search Selected Book' type='search' />
    <span class='hidden'>Search Term</span>
  </label>
  <button type='submit'><TextSearch /></button>
  <p class='errorContainer hidden'></p>
</form>

<style>
  form {
    height: 2rem;
    display: flex;
    flex-grow: 1;
  }

  label {
    width: 100%;
  }

  input {
    background: transparent;
    border: 3px solid var(--secondary-color);
    border-radius: 0.25rem;
    width: 100%;
    padding: 0 3.5rem 0 1rem;
  }

  input::placeholder {
    font-style: italic;
    opacity: 0.5;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0.5rem;
    height: 100%;
  }

  p {
    background: var(--primary-color);
    border-radius: 0.25rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.25rem;
    width: 100%;
    border: 3px solid var(--secondary-color);
  }

  button {
    display: flex;
    position: relative;
  }

  @media screen and (min-width: 768px) {
    input {
      width: initial;
      height: 100%;
    }

    label:hover {
      transition: all 0.5s ease-in;
      opacity: 0.7;
    }

    svg:hover {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
    }
  }
</style>

<script>
  import { actions } from 'astro:actions'
  import { z } from 'zod'
  import { searchResults, searchTerm } from '@utils/store'
  import { singleBookSearchSchema } from '@actions/schemas.js'

  document.addEventListener('astro:page-load', () => {
    const form = document.getElementById(
      'singleBookSearchForm',
    ) as HTMLFormElement
    const errorContainer = form?.querySelector('.errorContainer')

    form?.addEventListener('submit', async (event) => {
      event.preventDefault()

      const formData = new FormData(form)

      const formValues = {
        term: formData.get('term'),
        title: formData.get('title'),
        translator: formData.get('translator'),
      }

      try {
        singleBookSearchSchema.parse(formValues)

        const data = await actions.singleBookSearch.orThrow(formData)

        if (data.length === 0) {
          errorContainer.classList.remove('hidden')
          errorContainer.textContent = "I don't know if N said that here."
        } else {
          searchResults.set(data)
          searchTerm.set(formData.get('term').toString())
        }
      } catch (error) {
        if (error instanceof z.ZodError) {
          errorContainer.textContent = error.errors[0].message
          errorContainer.classList.remove('hidden')
        } else {
          console.error('Error using single book search: ', error)
          errorContainer.classList.remove('hidden')
          errorContainer.textContent = error
        }
      }
    })

    //close error container and reset it when clicking anywhere outside it
    document.addEventListener('click', (event) => {
      if (errorContainer && !errorContainer.contains(event.target)) {
        errorContainer.textContent = ''
        errorContainer.classList.add('hidden')
      }
    })
  })
</script>
