---
import { getFootnotes } from '@server/book'
import { FootnoteJSX } from '@components/book/footnotes/FootnoteJSX.jsx'

const { title, translator, chapterNumber, paragraphNumber, match, index } =
  Astro.props

let footnotes
let footnotesError

try {
  footnotes = await getFootnotes(
    title,
    translator,
    chapterNumber,
    paragraphNumber,
  )
} catch (error) {
  console.error('Error getting footnotes: ', error)
  footnotesError = error.message
}
---

{
  footnotesError ? (
    <span>{footnotesError}</span>
  ) : (
    <FootnoteJSX client:visible {match} footnote={footnotes[index]} />
  )
}

<style>
  span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    background: var(--primary-color);
  }
</style>
