---
const { title } = Astro.props
import { ChevronUp, ChevronDown } from 'lucide-astro'

const idPrefix =
  title.charAt(0).toLowerCase() + title.slice(1).replaceAll(' ', '')

const spanId = idPrefix + 'SelectionDisplay'
const listId = idPrefix + 'List'
---

<astro-settings-layout
  data-span-id={spanId}
  data-list-id={listId}
  class='settingsLayout'
>
  <h3><slot name='settings-icon' />{title}</h3>
  <button
    ><span id={spanId}></span><ChevronDown size={20} class='chevronUp' />
    <ChevronUp size={20} class='hidden chevronDown' /></button
  >
  <ul class='hidden' id={listId}><slot /></ul>
</astro-settings-layout>

<style>
  .settingsLayout {
    display: block;
    margin-top: 1rem;
  }

  button {
    width: 100%;
    border: 3px solid var(--secondary-color);
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    background: var(--primary-color);
    width: 100%;
    border-radius: 0.25rem;
  }

  h3 {
    display: flex;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1.15rem;
  }

  @media screen and (min-width: 768px) {
    button:hover {
      color: var(--secondary-color);
      transition: all 0.5s ease-in;
    }
  }
</style>

<script>
  import {
    animateAndShowElement,
    animateAndRemoveElement,
    hideAfterFadeOut,
  } from '@utils/animation'

  class AstroSettingsLayout extends HTMLElement {
    constructor() {
      super()

      const button = this.querySelector('button')
      const list = this.querySelector('ul')
      const chevronDown = this.querySelector('.chevronDown')
      const chevronUp = this.querySelector('.chevronUp')

      list.style.setProperty('--animate-duration', '0.5s')

      button.addEventListener('click', () => {
        if (list.classList.contains('animate__fadeIn')) {
          animateAndRemoveElement(list)
        } else {
          animateAndShowElement(list)
        }
        chevronUp.classList.toggle('hidden')
        chevronDown.classList.toggle('hidden')
      })

      hideAfterFadeOut(list)
    }
  }

  customElements.define('astro-settings-layout', AstroSettingsLayout)
</script>
