---
import { getBookInfo } from '@server/book'

const { title, translator } = Astro.params

let bookInfo
let bookInfoError

try {
  bookInfo = await getBookInfo(title, translator)
} catch (error) {
  console.error('Error getting book info: ', error)
  bookInfoError = error.message
}
---

{
  bookInfoError ? (
    <section>{bookInfoError}</section>
  ) : (
    <section>
      <h1 class='bookItem' data-chapter='Title' id='bookInfoTitle'>
        {bookInfo.bookTitle}
        {bookInfo.subTitle && `: ${bookInfo.subTitle}`}
      </h1>
      <h2 class='bookInfoOther'>
        Published: <time datetime={bookInfo.pubDate}>{bookInfo.pubDate}</time>
      </h2>
      <h2 class='bookInfoOther'>
        Translated By {bookInfo.translatorName},{' '}
        <time datetime={bookInfo.translatedDate}>
          {bookInfo.translatedDate}
        </time>
      </h2>
      {translator === 'Ian Johnston' ? (
        <p>
          Special thanks to Ian Johnston for his translation
          (http://fs2.american.edu/dfagel/www/genealogy1.htm)
        </p>
      ) : (
        <p>
          This eBook is for the use of anyone anywhere in the United States and
          most other parts of the world at no cost and with almost no
          restrictions whatsoever. You may copy it, give it away or re-use it
          under the terms of the Project Gutenberg License included with this
          eBook or online at www.gutenberg.org. If you are not located in the
          United States, you’ll have to check the laws of the country where you
          are located before using this ebook.
        </p>
      )}
    </section>
  )
}

<style>
  section {
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    overflow-y: scroll;
  }

  h1 {
    font-weight: 700;
  }

  p {
    font-size: 0.875rem;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    section {
      justify-content: center;
    }

    p {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>

<script>
  import { computed } from 'nanostores'
  import { selectedFontSize } from '@utils/store'

  document.addEventListener('astro:page-load', () => {
    const title = document.getElementById('bookInfoTitle')
    const otherInfos = document.querySelectorAll(
      '.bookInfoOther',
    ) as NodeListOf<HTMLElement>

    const titleSize = computed(selectedFontSize, (fontSize) => {
      if (window.matchMedia('(max-width: 768px)').matches) {
        return parseFloat(fontSize.size) * 1.875 + 'rem'
      } else {
        return parseFloat(fontSize.size) * 2.5 + 'rem'
      }
    })

    const otherInfoSize = computed(selectedFontSize, (fontSize) => {
      if (window.matchMedia('(max-width: 768px)').matches) {
        return parseFloat(fontSize.size) * 1.25 + 'rem'
      } else {
        return parseFloat(fontSize.size) * 1.5 + 'rem'
      }
    })

    selectedFontSize.subscribe(() => {
      if (title) {
        title.style.fontSize = titleSize.get()
        otherInfos.forEach(
          (info) => (info.style.fontSize = otherInfoSize.get()),
        )
      }
    })
  })
</script>
