---
import { getChapterList } from '@server/book'

const { title, translator } = Astro.params

let chapterList
let chapterListError

try {
  chapterList = await getChapterList(title, translator)
} catch (error) {
  console.error('Error fetching chapter list: ', error)
  chapterListError = error.message
}
---

<ol>
  {
    chapterListError ? (
      <li class='errorContainer'>{chapterListError}</li>
    ) : (
      chapterList.map((chapter) => (
        <li>
          <button class='chapterListButton bookItem' data-chapter='Contents'>
            {chapter.chapterName}
          </button>
        </li>
      ))
    )
  }
</ol>

<style>
  ol {
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
  }

  li {
    background: var(--primary-color);
    border-radius: 0.25rem;
  }

  button {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .errorContainer {
    padding: 1rem;
  }

  @media screen and (min-width: 768px) {
    button {
      text-align: start;
    }

    li:hover {
      background: var(--secondary-color);
      transition: all 0.5s ease-in;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const chapterListButtons = document.querySelectorAll('.chapterListButton')

    chapterListButtons.forEach((button, index) =>
      button.addEventListener('click', () => {
        const chapterToScrollTo = document.getElementById(`chapter-${index}`)
        chapterToScrollTo.scrollIntoView({ behavior: 'smooth' })
      }),
    )
  })
</script>
