---
import { getChapterList } from '@server/book'
import Paragraphs from '@components/book/Paragraphs.astro'

const { title, translator } = Astro.params

let chapterList
let chapterListError

try {
  chapterList = await getChapterList(title, translator)
} catch (error) {
  console.error('Error fetching chapter list: ', error)
  chapterListError = error.message
}
---

{
  chapterListError ? (
    <h3 class='errorContainer'>{chapterListError}</h3>
  ) : (
    chapterList.map((chapter, index) => (
      <>
        <h3
          id={`chapter-${index}`}
          class='bookItem'
          data-chapter={chapter.chapterNumber}
        >
          {chapter.chapterName}
        </h3>
        <Paragraphs chapter={chapter.chapterNumber} />
        <div />
      </>
    ))
  )
}

<style>
  h3 {
    width: 100%;
    scroll-snap-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  div {
    height: 100%;
  }

  .errorContainer {
    height: 100vh;
    height: 100svh;
  }
</style>
