---
import { Languages } from 'lucide-astro'
import Paragraph from '@components/book/Paragraph.astro'

const {
  title,
  translator,
  chapter,
  paragraphText,
  paragraphNumber,
  paragraphId,
  selectedTranslationParagraphId,
  otherTranslationError,
} = Astro.props
---

<astro-other-translation
  data-selected-translation-paragraph-id={selectedTranslationParagraphId}
>
  <label>
    <Languages size={30} />
    <input
      type='radio'
      name='paragraphButtonContainerItem'
      value='otherTranslation'
      class='hidden'
    />
  </label>

  <aside class='hidden'>
    {
      otherTranslationError ? (
        <p>{otherTranslationError}</p>
      ) : (
        <>
          <h2>{translator} Translation</h2>
          <Paragraph
            {title}
            {translator}
            {chapter}
            {paragraphText}
            {paragraphNumber}
            {paragraphId}
            isAltTranslation={true}
          />
        </>
      )
    }
  </aside>
</astro-other-translation>

<style>
  aside {
    display: flex;
    flex-direction: column;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
        to bottom,
        var(--secondary-color),
        var(--background-color)
      )
      1 100%;
    padding: 0 1rem 0 1rem;
  }

  label {
    padding: 0.5rem;
    border-radius: 0.25rem;
    order: -1;
    display: block;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  label:has(input[type='radio']:checked) {
    background: var(--secondary-color);
    transition: all 0.5s ease-in;
  }

  @media screen and (min-width: 768px) {
    label:hover {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
      cursor: pointer;
    }
  }
</style>

<script>
  import {
    animateAndShowElement,
    removeAfterFadeOut,
    animateAndRemoveElement,
  } from '@utils/animation.js'

  class AstroOtherTranslation extends HTMLElement {
    constructor() {
      super()

      const altTranslationRadio = this.querySelector('input')
      const altTranslationText = this.querySelector('aside')
      const paragraphSideContainer = document.getElementById(
        `paragraph-sidecontent-${this.dataset.selectedTranslationParagraphId}`,
      )

      altTranslationRadio.checked = false

      altTranslationRadio.addEventListener('click', () => {
        if (paragraphSideContainer.contains(altTranslationText)) {
          /* alt translation is open so we close it now */
          animateAndRemoveElement(altTranslationText)
          altTranslationRadio.checked = false
        } else {
          paragraphSideContainer.innerHTML = ''

          paragraphSideContainer.appendChild(altTranslationText)
          animateAndShowElement(altTranslationText)

          if (window.matchMedia('(max-width: 768px)').matches) {
            paragraphSideContainer.scrollIntoView({ behavior: 'smooth' })
          }
        }
      })

      removeAfterFadeOut(altTranslationText, paragraphSideContainer)
    }
  }
  customElements.define('astro-other-translation', AstroOtherTranslation)
</script>
