---
import {
  getChapterParagraphs,
  getOtherTranslationOfParagraph,
} from '@server/book'
import { getUserId } from '@utils/auth'
import Paragraph from '@components/book/Paragraph.astro'
import OtherTranslation from '@components/book/OtherTranslation.astro'
import CreateBookmark from '@components/bookmark/CreateBookmark.astro'
import CreateNotes from '@components/notes/CreateNotes.astro'

const { title, translator } = Astro.params
const { chapter } = Astro.props

let chapterParagraphs
let chapterParagraphsError

try {
  chapterParagraphs = await getChapterParagraphs(title, translator, chapter)
} catch (error) {
  console.error('Failed to get chapter paragraphs: ', error)
  chapterParagraphsError = error.message
}

let otherTranslation
let otherTranslationError

try {
  otherTranslation = await getOtherTranslationOfParagraph(
    title,
    translator,
    chapter,
  )
} catch (error) {
  console.error('Failed to get other translation: ', error)
  otherTranslationError = error.message
}

const userId = await getUserId(Astro.cookies)
---

{
  chapterParagraphsError ? (
    <p>{chapterParagraphsError}</p>
  ) : (
    chapterParagraphs.map((paragraph, index) => {
      const paragraphButtons = `paragraph-buttons-${paragraph.paragraphId}`
      const sideContent = `paragraph-sidecontent-${paragraph.paragraphId}`
      return (
        <div class='paragraphContainer'>
          <div class='mainContent'>
            <Paragraph
              {title}
              {translator}
              {chapter}
              paragraphText={paragraph.paragraphText}
              paragraphNumber={paragraph.paragraphNumber}
              paragraphId={paragraph.paragraphId}
              isAltTranslation={false}
            />
            <div class='buttonContainer' id={paragraphButtons}>
              {userId && (
                <>
                  <CreateBookmark
                    {userId}
                    paragraphId={paragraph.paragraphId}
                  />
                  <CreateNotes paragraphId={paragraph.paragraphId} />
                </>
              )}
              {otherTranslation?.length > 0 && (
                <OtherTranslation
                  {title}
                  translator={otherTranslation[index].translatorName}
                  {chapter}
                  paragraphText={otherTranslation[index].paragraphText}
                  paragraphNumber={otherTranslation[index].paragraphNumber}
                  paragraphId={otherTranslation[index].paragraphId}
                  selectedTranslationParagraphId={paragraph.paragraphId}
                />
              )}
              {otherTranslationError && (
                <OtherTranslation
                  {otherTranslationError}
                  selectedTranslationParagraphId={paragraph.paragraphId}
                />
              )}
            </div>
          </div>
          <div class='sideContent' id={sideContent} />
        </div>
      )
    })
  )
}

<style>
  .paragraphContainer {
    overflow-y: scroll;
    scroll-snap-align: center;
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    .paragraphContainer {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
    .sideContent:not(:empty) {
      width: 50%;
    }

    .sideContent:empty {
      width: 0%;
    }

    /* select previous sibling of sideContent class thats empty */
    .mainContent:has(+ .sideContent:empty) {
      width: 100%;
    }

    .mainContent:not(:has(+ .sideContent:empty)) {
      width: 50%;
    }
  }
</style>
