---
/* TODO check margin-bottom */

import Footnotes from '@components/book/footnotes/Footnotes.astro'
import SeeAlso from '@components/book/SeeAlso.astro'
import { getSeeAlsos } from '@server/book'

const {
  title,
  translator,
  chapter,
  paragraphText,
  paragraphNumber,
  paragraphId,
  isAltTranslation,
} = Astro.props

const superscriptRegex =
  /(“|")[^(”|")]+(”|")[⁰¹²³⁴⁵⁶⁷⁸⁹]+|[⁰¹²³⁴⁵⁶⁷⁸⁹]+|\S+[⁰¹²³⁴⁵⁶⁷⁸⁹]+/gm

const containsSuperscript = superscriptRegex.test(paragraphText)

let seeAlsos

try {
  seeAlsos = await getSeeAlsos(paragraphId)
} catch (error) {
  console.error('Getting see alsos failed: ', error)
}
---

{
  containsSuperscript ? (
    <p id={paragraphId} class='bookItem' data-chapter={`Chapter: ${chapter}`}>
      <Footnotes
        {title}
        {translator}
        text={paragraphText}
        chapterNumber={chapter}
        {paragraphNumber}
      />
    </p>
  ) : (
    <p id={paragraphId} class='bookItem' data-chapter={`Chapter: ${chapter}`}>
      {paragraphText}
    </p>
  )
}
{
  seeAlsos?.length > 0 && !isAltTranslation && (
    <>
      {seeAlsos.map((seeAlso) => (
        <SeeAlso {...seeAlso} selectedTranslationParagraphId={paragraphId} />
      ))}
    </>
  )
}

<style>
  p {
    scroll-snap-align: center;
    white-space: pre-wrap;
  }
</style>
