---
const {
  bookTitle,
  translatorName,
  chapterNumber,
  paragraphNumber,
  paragraphText,
  selectedTranslationParagraphId,
} = Astro.props
---

<astro-see-also
  data-selected-translation-paragraph-id={selectedTranslationParagraphId}
>
  <label>
    <cite>{bookTitle}</cite>({translatorName}), Chapter{' '}
    {chapterNumber}, Paragraph {paragraphNumber}

    <input
      type='radio'
      name='paragraphButtonContainerItem'
      value='seeAlso'
      class='hidden'
    />
  </label>

  <figure class='hidden'>
    <figcaption>
      <cite>{bookTitle}</cite>({translatorName}), Chapter{' '}
      {chapterNumber}
    </figcaption>
    <blockquote>
      <p>{paragraphText}</p>
    </blockquote>
  </figure>
</astro-see-also>

<style>
  figure {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
        to bottom,
        var(--primary-color),
        var(--secondary-color)
      )
      1 100%;
    border-right: 0;
    padding-left: 1rem;
  }

  figcaption {
    margin-bottom: 0.5rem;
  }

  label {
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease-in;
  }

  label:has(input[type='radio']:checked) {
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
  }

  label:has(input[type='radio']:not(:checked)) {
    border: 3px solid var(--primary-color);
  }

  @media screen and (min-width: 768px) {
    label:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: all 0.5s ease-in;
    }
  }
</style>

<script>
  import {
    animateAndShowElement,
    removeAfterFadeOut,
    animateAndRemoveElement,
  } from '@utils/animation.js'

  class AstroSeeAlso extends HTMLElement {
    constructor() {
      super()
      const seeAlsoLabel = this.querySelector('label')
      const seeAlsoRadio = this.querySelector('input')
      const seeAlsoFigure = this.querySelector('figure')

      const paragraphButtonContainer = document.getElementById(
        `paragraph-buttons-${this.dataset.selectedTranslationParagraphId}`,
      )
      const paragraphSideContainer = document.getElementById(
        `paragraph-sidecontent-${this.dataset.selectedTranslationParagraphId}`,
      )

      paragraphButtonContainer.appendChild(seeAlsoLabel)
      seeAlsoRadio.checked = false

      if (!paragraphButtonContainer.textContent.includes('See Also: ')) {
        const seeAlsoTitle = document.createTextNode('See Also: ')
        paragraphButtonContainer.insertBefore(seeAlsoTitle, seeAlsoLabel)
      }

      seeAlsoRadio.addEventListener('click', () => {
        if (paragraphSideContainer.contains(seeAlsoFigure)) {
          animateAndRemoveElement(seeAlsoFigure)
          seeAlsoRadio.checked = false
        } else {
          paragraphSideContainer.innerHTML = ''

          paragraphSideContainer.appendChild(seeAlsoFigure)
          animateAndShowElement(seeAlsoFigure)

          if (window.matchMedia('(max-width: 768px)').matches) {
            paragraphSideContainer.scrollIntoView({ behavior: 'smooth' })
          }
        }
      })

      removeAfterFadeOut(seeAlsoFigure, paragraphSideContainer)
    }
  }

  customElements.define('astro-see-also', AstroSeeAlso)
</script>
