---
/* TODO: turn script into external script for resize */
import SingleBookSearch from '@components/search/SingleBookSearch.astro'
---

<div class='slideContainer hidden'>
  <div class='currentChapter' id='currentChapter'></div>
  <div class='currentPage'>
    <span id='currentPage'></span> / <span id='maxPage'></span>
  </div>
  <input class='slider' type='range' id='slider' min='0' value='0' />
  <SingleBookSearch />
</div>

<style>
  .slideContainer {
    display: flex;
    margin: 0 1rem 1rem 1rem;
    gap: 0.3rem;
  }

  input {
    width: 100%;
    appearance: none;
    background: var(--primary-color);
    height: 2rem;
    overflow: hidden;
    border-width: 3px;
    border-color: var(--primary-color);
    border-radius: 0.25rem;
    background: var(--primary-color);
  }

  .currentPage,
  .currentChapter {
    background: var(--primary-color);
    border-radius: 0.25rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    flex-grow: 1;
    text-align: center;
    height: fit-content;
    text-wrap: nowrap;
  }

  /* firefox scrollbar */
  input::-moz-range-thumb {
    appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    background: var(--text-color); /*< head color */
    box-shadow: -101vw 0 0 100vw var(--background-color);
  }

  /* chrome scrollbar */
  .slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    background: var(--text-color);
    box-shadow: -101vw 0 0 100vw var(--background-color);
  }

  @media screen and (max-width: 768px) {
    .slideContainer {
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1024px) {
    .slideContainer {
      height: var(--slider-height);
      flex-shrink: 0;
      align-items: top;
      margin: 0 3rem 0 3rem;
      gap: 0.5rem;
    }

    input {
      cursor: pointer;
    }

    .currentPage,
    .currentChapter {
      width: 8rem;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const slideContainer = document.querySelector('.slideContainer')
    slideContainer?.classList.remove('hidden')

    const fullTextRef = document.getElementById('fullText')
    const sliderRef = document.getElementById('slider') as HTMLInputElement
    const maxPageRef = document.getElementById('maxPage')
    const currentPageRef = document.getElementById('currentPage')
    const currentChapterRef = document.getElementById('currentChapter')
    const bookItems = document.querySelectorAll('.bookItem')
    let intersectionObserver
    let elementOnScreen

    let maxPage = 0

    if (fullTextRef) {
      fullTextRef.focus()

      const handleResize = () => {
        maxPage = Math.ceil(
          fullTextRef.scrollWidth / fullTextRef.clientWidth - 1,
        )

        sliderRef.setAttribute('max', maxPage.toString())
        maxPageRef.textContent = `${parseInt(maxPage.toString()) + 1}`
        currentPageRef.textContent = `${parseInt(sliderRef.value) + 1}`
        if (intersectionObserver) {
          bookItems.forEach((reference) =>
            intersectionObserver.unobserve(reference),
          )

          setTimeout(() => {
            bookItems.forEach((reference) =>
              intersectionObserver.observe(reference),
            )
          }, 500)
        }

        elementOnScreen?.scrollIntoView({ behavior: 'smooth' })
      }

      handleResize()

      window.addEventListener('resize', () => {
        handleResize()
      })

      sliderRef.addEventListener('change', () => {
        currentPageRef.textContent = `${parseInt(sliderRef.value) + 1}`
      })

      sliderRef.addEventListener('input', () => {
        const percentScrolled = parseInt(sliderRef.value) / maxPage
        const scrollWidth = fullTextRef.scrollWidth - fullTextRef.clientWidth
        fullTextRef.scrollLeft = percentScrolled * scrollWidth
      })

      fullTextRef.addEventListener('scroll', () => {
        const percentScrolled =
          fullTextRef.scrollLeft /
          (fullTextRef.scrollWidth - fullTextRef.clientWidth)

        const newValue = Math.round(percentScrolled * maxPage)
        sliderRef.value = newValue.toString()
        currentPageRef.textContent = `${newValue + 1}`
      })

      const intersectionObserverOptions = {
        root: null, // relative to document viewport
        rootMargin: '0px', // margin around root. Values are similar to css property. Unitless values not allowed
        threshold: 0.1, // visible amount of item shown in relation to root
      }

      const intersectionObserverCallback = (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const chapter = entry.target.getAttribute('data-chapter')
            if (chapter === 'Chapter: 0')
              currentChapterRef.textContent = 'Preface'
            else currentChapterRef.textContent = `${chapter}`
            elementOnScreen = entry.target
          }
        })
      }

      intersectionObserver = new IntersectionObserver(
        intersectionObserverCallback,
        intersectionObserverOptions,
      )

      bookItems.forEach((reference) => intersectionObserver.observe(reference))
    }
  })
</script>
