---
import { Settings, X } from 'lucide-astro'
import 'animate.css'
import Theme from '@components/settings/Theme.astro'

const optionComponents = await Astro.glob('./options/*.astro')
---

<div id='settingsContainer'>
  <button id='openSettingsButton'><Settings /></button>
  <button class='hidden' id='closeSettingsButton'><X /></button>

  <div id='settingsMenuContainer' class='hidden'>
    <Theme />

    {optionComponents.map((component) => <component.default />)}
  </div>
</div>

<style>
  #settingsContainer {
    position: relative;
  }

  #settingsMenuContainer {
    position: fixed;
    padding-top: 1rem;
    background: var(--background-color);
    width: calc(100vw - 2rem);
    height: 100vh;
    height: 100svh;
    overflow-y: scroll;
    /* each item from SettingsLayout has a height of 5rem - need padding to scroll when container is full for some reason */
    padding-bottom: 5rem;
  }

  button {
    padding: 0.625rem;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  @media screen and (max-width: 1024px) {
    #settingsMenuContainer {
      z-index: 20;
    }
  }

  @media screen and (min-width: 1024px) {
    #settingsMenuContainer {
      width: 15vw;
      /* 1.5rem for .75rem margin on top and bottom */
      height: calc(
        100vh - var(--header-height) - var(--slider-height) - 1.5rem
      );
      top: var(--header-height);
      left: 0;
      border: 3px solid var(--primary-color);
      border-radius: 0.25rem;
      border-left: none;
      padding: 1rem;
      margin-top: 0.75rem;
    }

    button:hover {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
    }
  }

  @media screen and (min-width: 768px) {
    svg {
      width: 40px;
      height: 40px;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    //opening and closing settings menu
    const openButton = document.getElementById('openSettingsButton')
    const closeButton = document.getElementById('closeSettingsButton')
    const settingsMenuContainer = document.getElementById(
      'settingsMenuContainer',
    )

    const toggleButton = () => {
      closeButton.classList.toggle('hidden')
      openButton.classList.toggle('hidden')
    }

    const openMenu = () => {
      toggleButton()
      settingsMenuContainer.classList.remove('hidden', 'animate__fadeOutLeft')
      settingsMenuContainer.classList.add(
        'animate__animated',
        'animate__fadeInLeft',
      )
    }

    const closeMenu = () => {
      toggleButton()
      settingsMenuContainer.classList.remove('animate__fadeInLeft')
      settingsMenuContainer.classList.add('animate__fadeOutLeft')
    }

    openButton.addEventListener('click', openMenu)

    closeButton.addEventListener('click', closeMenu)
  })
</script>
