---
import { Lightbulb, LightbulbOff } from 'lucide-astro'
---

<button type='button' id='themeToggle'>
  <Lightbulb size={40} class='light' />
  <LightbulbOff size={40} class='dark' />
</button>

<style>
  .light {
    display: block;
  }

  .dark {
    display: none;
  }

  :global(.dark) .light {
    display: none;
  }

  :global(.dark) .dark {
    display: block;
  }

  button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--secondary-color);
    border-radius: 0.25rem;
    height: 3.25rem;
  }

  svg {
    width: 35px;
    height: 35px;
  }

  @media screen and (min-width: 768px) {
    button:hover {
      color: var(--primary-color);
      transition: all 0.5s ease-in;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const theme = (() => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme')
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark'
      }
      return 'light'
    })()

    if (theme === 'light') {
      document.documentElement.classList.remove('dark')
    } else {
      document.documentElement.classList.add('dark')
    }

    window.localStorage.setItem('theme', theme)

    const handleToggleClick = () => {
      const element = document.documentElement
      element.classList.toggle('dark')

      const isDark = element.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    }

    document
      .getElementById('themeToggle')
      .addEventListener('click', handleToggleClick)
  })

  document.addEventListener('astro:after-swap', () => {
    localStorage.theme === 'dark'
      ? document.documentElement.classList.add('dark')
      : document.documentElement.classList.remove('dark')
  })
</script>
