---

---

<form id='accountForm'>
  <fieldset class='formTypeField'>
    <label>
      Login
      <input
        id='loginRadio'
        type='radio'
        name='formType'
        value='login'
        class='hidden'
        checked
      />
    </label>
    <p class='errorContainer hidden'></p>
    <label>
      Register
      <input type='radio' name='formType' value='register' class='hidden' />
    </label>
    <p class='errorContainer hidden'></p>
  </fieldset>

  <fieldset class='formInputsField'>
    <label>
      Username
      <input type='text' name='username' />
    </label>
    <p class='errorContainer hidden' id='usernameErrorContainer'></p>
    <label>
      Password
      <input type='password' name='password' />
    </label>
    <p class='errorContainer hidden'></p>
    <label class='hidden' id='confirmPasswordLabel'>
      Confirm Password
      <input type='password' name='confirmPassword' />
    </label>
    <p class='errorContainer hidden'></p>
  </fieldset>

  <button type='submit'>Submit</button>
  <p class='errorContainer hidden' id='authErrorContainer'></p>
</form>

<style>
  form {
    margin: auto 1rem auto 1rem;
    height: 50%;
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  fieldset {
    width: 100%;
  }

  input {
    background: transparent;
    border: 3px solid var(--secondary-color);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .formTypeField {
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  .formTypeField label {
    border: 3px solid var(--primary-color);
    border-radius: 0.25rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  button {
    border: 3px solid var(--primary-color);
    padding: 1rem;
    width: 100%;
  }

  label:has(input:checked) {
    background: var(--primary-color);
  }

  @media screen and (min-width: 1024px) {
    form {
      width: 50%;
      margin: auto;
    }
  }
</style>

<script>
  import { actions } from 'astro:actions'
  import { navigate } from 'astro:transitions/client'
  import { z } from 'zod'
  import { loginSchema, registerSchema } from '@actions/schemas.js'

  document.addEventListener('astro:page-load', () => {
    const form = document.getElementById('accountForm') as HTMLFormElement
    const formTypeRadios = form?.querySelectorAll('input[name="formType"]')
    const confirmPasswordElement = document.getElementById(
      'confirmPasswordLabel',
    )
    const errorContainers = form?.querySelectorAll('.errorContainer')

    /* refreshing page on register form loads login form - this fixes that */
    form?.reset()

    /* only show confirm password on register form */
    formTypeRadios?.forEach((radio) => {
      radio.addEventListener('change', (event) => {
        const target = event.target as HTMLInputElement
        target.value === 'register'
          ? confirmPasswordElement.classList.remove('hidden')
          : confirmPasswordElement.classList.add('hidden')
        errorContainers.forEach((errorContainer) => {
          errorContainer.textContent = ''
          errorContainer.classList.add('hidden')
        })
      })
    })

    form?.addEventListener('submit', async (event) => {
      event.preventDefault()

      const formData = new FormData(form)

      const formValues = {
        username: formData.get('username'),
        password: formData.get('password'),
        confirmPassword: formData.get('confirmPassword'),
      }

      try {
        errorContainers.forEach((errorContainer) => {
          errorContainer.classList.add('hidden')
          errorContainer.textContent = ''
        })

        const formType = form.querySelector(
          'input[name="formType"]:checked',
        ) as HTMLInputElement

        if (formType.value === 'register') {
          registerSchema.parse(formValues)

          const { data, error } = await actions.registerUser(formData)

          if (error) {
            if (error.code === 'CONFLICT') {
              const usernameErrorContainer = document.getElementById(
                'usernameErrorContainer',
              )
              usernameErrorContainer.classList.remove('hidden')
              usernameErrorContainer.textContent = error.message
            } else {
              const errorContainer =
                document.getElementById('authErrorContainer')
              errorContainer.classList.remove('hidden')
              errorContainer.textContent = error.message
            }
          }

          if (data) {
            navigate(window.location.href)
          }
        }

        if (formType.value === 'login') {
          loginSchema.parse(formValues)

          const { data, error } = await actions.loginUser(formData)

          if (error) {
            const errorContainer = document.getElementById('authErrorContainer')
            errorContainer.classList.remove('hidden')
            errorContainer.textContent = error.message
          }

          if (data) {
            navigate(window.location.href)
          }
        }
      } catch (error) {
        if (error instanceof z.ZodError) {
          error.issues.forEach((error) => {
            const inputWithError = form.querySelector(
              `input[name = "${error.path[0]}"]`,
            )
            const labelWithError = inputWithError.closest('label')
            const errorContainer = labelWithError.nextElementSibling
            errorContainer.textContent += error.message + ' '
            errorContainer.classList.remove('hidden')
          })
        } else {
          console.error('Error with account: ', error)
        }
      }
    })
  })
</script>
