---
import { LogOut } from 'lucide-astro'
---

<button class='logoutButton' id='logoutButton'
  ><LogOut /><p id='logoutError' class='hidden'></p>
</button>

<style>
  button {
    padding: 0.625rem;
    position: relative;
  }

  button:hover {
    color: var(--primary-color);
    transition: all 0.5s ease-in;
  }

  p {
    width: max-content;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--ternary-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-width: 768px) {
    svg {
      width: 40px;
      height: 40px;
    }
  }
</style>

<script>
  import { actions } from 'astro:actions'
  import { navigate } from 'astro:transitions/client'

  document.addEventListener('astro:page-load', () => {
    const logoutButton = document.getElementById('logoutButton')

    logoutButton?.addEventListener('click', async () => {
      const { data, error } = await actions.logoutUser({})

      if (error) {
        console.error('Error logging out: ', error)

        const errorContainer = document.getElementById('logoutError')
        errorContainer.classList.remove('hidden')
        errorContainer.textContent = error.message
      }

      if (data) {
        navigate(window.location.href)
      }
    })
  })
</script>
